{% extends 'main/layout.html' %}

{% block title %}
    Add
{% endblock %}

{% block content %}
<div class="flex h-screen">



  <div class="m-auto">
    <span>{{error}}</span>
    <span>{{errorF}}</span>
    <div class="w-full max-w-xs">
      <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
              Название
          </label>
          {{ form.title }}
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
              Файл
          </label>
          {{ form.file }}
        </div>
    <div class="flex items-center justify-between">
      <button type="submit" class="w-full bg-yellow-300 hover:bg-yellow-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Сохранить
      </button>
    </div>
  </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2024 Maslo Corp. All rights reserved.
      </p>
    </div>
  </div>
</div>
{% endblock %}