{% extends 'main/layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="p-8">
    <div class="flex items-center">
        <div class="flex-1 min-w-0 ms-4">
            <p class="text-2xl font-medium text-white truncate dark:text-white">
                {{ document.title }}
            </p>
            <p class="text-xl text-gray-500 truncate dark:text-gray-400">
                {{ document.file }}
            </p>

        </div>
        <div class="space-x-2 text-white inline-flex items-center  font-semibold  dark:text-white">
            <button class="bg-amber-300 hover:bg-amber-400 text-black font-bold py-2 px-4 rounded">Share</button>
            <a href="{{document.file}}" download class="bg-amber-300 hover:bg-amber-400 text-black font-bold py-2 px-4 rounded">Download</a>
            <a href="/delete/{{document.id}}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ">Delete</a>
        </div>



    </div>
</div>

<img src="{{ document.file }}" class="px-8" alt="Neil image">
{% endblock %}