{% extends 'main/layout.html' %}

{% block title %}
    Home
{% endblock %}
{% block content %}
<div class="bg-bg-gray-600 text-white">
    <div class="px-8">
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        {% for el in files %}
                <li class=" py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0">


<!--                            <p>PDF</p>-->

                            <img class="w-8 h-8 rounded-lg" src="{{ el.file }}" alt="Neil image">




                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-white truncate dark:text-white">
                            {{ el.title }}
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ el.file }}
                        </p>

                    </div>
                    <div class="text-white inline-flex items-center  font-semibold  dark:text-white">
                        <a href="{% url 'document-details' el.id %}" class="">Details</a>
                        <a href="{{el.file.url}}" class="px-6">Share</a>
                        <a class="">Download</a>
                        <a href="/delete/{{el.id}}" class="px-6 text-red-500">Delete</a>

                    </div>



                </div>
            </li>



    {% endfor %}
            </ul>
        </div>

    </div>
</div>

{% endblock %}